body
{
  padding: 10px;
}

table
{
    border: 1px solid #36393D;
    border-collapse: collapse;
    font-size: 12px;
    padding:5px;
}
thead {
    background-color: #36393D;
    border: 1px solid #fff;
    color: #fff;
}
thead, th {
    border: 1px solid #fff;
    padding:5px;
}
table, td {
    border: 1px solid #36393D;
    padding:5px;
}
.dashlet
{
  margin:5px;
  border-radius: 15px;
  border: 1px solid #4096EE;
  padding: 20px;
  float:left;
}

.btn_submit_query
{
  background-color: #4096EE;
  border: none;
  color: white;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  cursor: pointer;
  float:right;
}

.btn_download_csv
{
  background-color: #CDEB8B;
  border: none;
  color: #008C00;
  padding: 10px 40px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  float:right;
}

.custom_query_table
{
  width:100%;
  border: 1px solid #356AA0;
  border-collapse: collapse;
  font-size: 12px;
  padding:5px;
}
.custom_query_table thead {
    background-color: #356AA0;
    border: 1px solid #fff;
    color: #fff;
}
.custom_query_table thead, th {
    border: 1px solid #fff;
    padding:5px;
}
.custom_query_table table, td {
    border: 1px solid #356AA0;
    padding:5px;
}
